/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 19/09/2017, 21:39:10
    Author     : aluno
*/
h1{
   font-size: 21;
   color: darkgoldenrod;
}
header{
    background-color:wheat;
   }
   header img{
    width: 60%;
    height: 50%
   }    
